Day2/employee.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="empContact">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="info" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name" />
                            <xs:element name="phones">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="phone" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:long">
                                                        <xs:attribute type="xs:string" name="type" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="addresses">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="address1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="street" />
                                                    <xs:element type="xs:byte" name="buildingno" />
                                                    <xs:element type="xs:string" name="region" />
                                                    <xs:element type="xs:string" name="city" />
                                                    <xs:element type="xs:string" name="country" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="address2">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="street" />
                                                    <xs:element type="xs:byte" name="buildingno" />
                                                    <xs:element type="xs:string" name="region" />
                                                    <xs:element type="xs:string" name="city" />
                                                    <xs:element type="xs:string" name="country" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="email" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>